<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title th:text="#{title}"></title>
    <link th:href="@{bootstrap/css/bootstrap.css}" rel="stylesheet"/>
    <link th:href="@{css/video.css}" rel="stylesheet"/>
    <script th:src="@{js/jq.js}"></script>
    <!--<script src="html/js/js.cookie.js"></script>-->
    <script th:src="@{bootstrap/js/bootstrap.min.js}"></script>
    <!--<script src="${ctx}/html/i18n/jquery-i18n-properties.js"></script>-->
    <!--<script src="html/js/resizeEnd.js"></script>-->
</head>
<body class="body">1231231
#{title}
<label th:text="#{title}"/>
<div id="Layer1" style="position:absolute; width:100%; height:100%; z-index:-1">

    <!--<img th:src="@{img/background.png}" height="100%" width="100%"/>-->
</div>
<!--<div class="top-title">-->
    <!--<a href="javascript:history.go(-1);void 0;" class="prev"></a>-->
    <!--<a href="javascript:history.go(-1);void 0;" class="prev" back_to_prev_page></a>-->
    <!--<p>${i18("live")}</p>-->
<!--</div>-->
<!--<div id="video-wrapper" class="wrap">-->
    <!--<div id="videoleft" class="videoleft_class" style="text-align:center;">-->

        <!--<div class="full-background">-->
            <!--<div id="video-ctrl" class="video-ctrl">-->
                <!--<object classid="clsid:165550BC-1735-41C5-B64F-34288FBD5C96" standby="Waiting..." id="ocxPlayer"-->
                        <!--name="player"></object>-->
            <!--</div>-->
        <!--</div>-->
    <!--</div>-->

    <!--<div id="videoright" class="videoright_class">-->
        <!--<div id="chat-header">${!(i18("char_header"))}-->
            <!--&lt;!&ndash;<img src="html/images/jianbianhei.png" height="100%" width="100%"/>&ndash;&gt;-->
        <!--</div>-->
        <!--<textarea style="  line-height:1.3; font-size: 1.2em;" id="textarea" class="chat-content form-control"-->
                  <!--readonly></textarea>-->
        <!--<form>-->
            <!--<div class="fount">-->
                <!--<textarea class="current-action chat-text form-control" rows="3"></textarea>-->
            <!--</div>-->
            <!--<div>-->
                <!--<button class="current-action btn-text btn btn-primary" type="button">${!(i18("send"))}</button>-->
            <!--</div>-->
        <!--</form>-->
    <!--</div>-->
<!--</div>-->


<div class="btn-toolbar wrap" id="buttons" role="toolbar" style="clear:both">
    <!-- 按钮组-->
    <div class="btn-left">
        <div class="btn-group">
            <button type="button" class=" btn btn-primary ">rrrtrrr</button>
            <button type="button" class=" btn btn-startlive"></button>
            <button type="button" class="btn btn-primary">Primary</button>
            <!--<button type="button" class="current-action btn-capture btn btn-primary btn-default"></button>-->
            <!--<button type="button" class="current-action btn-focus btn btn-primary btn-default">${!(i18("focusing"))}-->
            <!--</button>-->
            <!--<button type="button" class="current-action btn-zoom-in btn btn-primary btn-default">${!(i18("zoom"))}＋-->
            <!--</button>-->
            <!--<button type="button" class="current-action btn-zoom-out btn btn-primary btn-default">${!(i18("zoom"))}－-->
            <!--</button>-->
            <!--<button type="button" class="current-action btn btn-mark btn-primary btn-default">${!(i18("Openmark"))}-->
            <!--</button>-->
            <!--<button type="button" class="current-action btn btn-primary btn-default btn-talk">${!(i18("Clostalk"))}-->
            <!--</button>-->
            <!--<button type="button" class="btn btn-primary btn-default btn-num ">${!(i18("num1"))}</button>-->
        </div>
    </div>
</div>
<!--<div style=" position: absolute;left: 30%;top: 35%;width:300px;height:100px;">-->
    <!--<a href="LLClientXSetup.exe"><p style=" text-decoration:underline; color: #ffffff">${!(i18("prompt"))}</p></a>-->
<!--</div>-->
<!--<script type="text/javascript">-->
    <!--var localAddr = "${localAddr}";-->
<!--</script>-->

<!--<script src="html/js/index.js"></script>-->
<!--<script>-->

<!--</script>-->
<!--<script>-->
<!--</script>-->
</body>
</html>
